*{
    margin: 0;
    padding: 0;
}
body{
    background: #f5f5dc;
    font-family:'Fira Sans', sans-serif;
}
h1{
    margin: 1em 0;
    text-align: center;
    font-size: 4em;
}
p{
    margin:0.5em 0 ;
    text-align: center;
    font-size: 2em;
}
.label-style{
    display: block;
    text-align: center;
    font-size:1.2em;
    padding-bottom: 1em;
}
.input-style{
    display: block;
    margin: 1em auto;
    padding: 0.7em;
    border-radius: 10px;
    
}

.verificar{
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.img-style{
    height: 50%;
    position: absolute;
    right:30em;
    bottom:2em;
    z-index: -1;
}
footer{
    position: relative;
    bottom:-13.8em;  
    background-color:#fefefe; 
}
.footer-stl{
    margin: 0 auto;
    font-size: 1em;
    font-weight: 700;
}
